@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
:root {
  --hue: 220;
  --sat: 100;
  --light: 81;
}

.wrapper a, nav li button {
  color: hsl(var(--hue), calc(var(--sat) * 1%), calc(var(--light) * 1%));
  /*--breakpoint: 100;
  --g: calc((clamp(0, var(--num), var(--breakpoint)) - calc(var(--breakpoint) - 1)) * 255);


   }
   .btn:after {
  counter-reset: variable var(--num);
  content: counter(variable);*/
  mix-blend-mode: color-dodge;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poiret One", cursive, helvetica;
  font-size: 100%;
  line-height: 1.3;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  -webkit-text-stroke: 1px #fffefe;
}

button:hover {
  cursor: pointer;
}

.solicitar {
  display: none;
  background: burlywood;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 10;
}

.solicitar textarea {
  width: 100%;
  height: 200px;
}

p {
  font-size: 1.4rem;
  margin: 0 0 24px 0;
}

header {
  left: 20%;
  position: absolute;
  top: 2rem;
  width: 65%;
  z-index: 1111;
}

.wrapper {
  width: 100vw;
}

nav ul {
  display: table;
  list-style-type: none;
  width: 100%;
}

nav li {
  display: table-cell;
  text-align: center;
}

nav li a, nav li button {
  border: 2px solid #fffefe;
  background: rgba(240, 248, 255, 0.0117647059);
  font-family: helvetica;
  font-size: 2rem;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 30px;
}

.parallax,
.main,
.texto {
  margin: 0 auto;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
}

.texto-interior {
  color: #fffefe;
  font-size: 3rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.img-uno {
  background-image: url("../img/tetrico_3.jpg");
  height: 100vh;
}

.img-dos {
  background-image: url("../img/terico_2.jpg");
  height: 100vh;
}

.img-tres {
  background-image: url("../img/tetrico.jpg");
  height: 100vh;
}

.img-cuatro {
  background-image: url("../img/tetrico_4.jpg");
  height: 100vh;
}

.img-cinco {
  background-image: url("../img/tetrico_5.jpg");
  height: 100vh;
}

.snap-container {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 60vh;
}

/* para el siguient select*/
.select-css {
  display: block;
  font-size: 19px;
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  color: grey;
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid grey;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 30px;
  background-color: #fffefe;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #fffefe 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: grey;
}

.select-css:focus {
  border-color: grey;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

.select-css option[selected] {
  background-color: orange;
}

#qrcode {
  width: 274px;
  height: auto;
  border: solid 1px white;
  border-radius: 10px;
}
#qrcode img {
  display: block;
  padding: 10px;
  background: #fffefe;
  border-radius: 10px;
}
#qrcode :hover {
  cursor: all-scroll;
  border: 1px dashed red;
}
#qrcode :active {
  cursor: move;
  box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
}

.acordeon-cuerpo {
  display: none;
  position: absolute;
  z-index: 3;
  width: auto;
  right: 28px;
}
.acordeon-cuerpo #qrcode {
  text-align: -webkit-center;
}

.acordeon {
  margin: 95px auto;
  color: black;
  background-color: #fffefe;
  padding: 10px;
  border-radius: 14px;
}
.acordeon :hover {
  cursor: all-scroll;
  border: 1px dashed red;
}
.acordeon :active {
  cursor: move;
  box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
}

.acordeon .contenedor {
  position: relative;
  margin: 10px 10px;
}

/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */
h1 {
  font-size: 1.2em;
}

.acordeon .etiqueta {
  position: relative;
  padding: 5px 0;
  font-size: 30px;
  color: black;
  font-size: 1.2em;
}

/* Posiciona el signo más a 5px de la derecha. Lo centra utilizando la propiedad transform. */
/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */
.acordeon .contenido {
  position: relative;
  background: #fffefe;
  height: 0;
  font-size: 20px;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
}

/* Añade una línea horizontal entre los contenidos */
.acordeon hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}/*# sourceMappingURL=estilo.css.map */